body {
  font-family: 'niveau-grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  text-rendering: optimizeLegibility;
}

.page {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: white;
  color: #202428;
  animation: willkommen 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.error-message {
  align-self: center;
  flex: 1;
  text-align: center;
}

.error-message span {
  display: block;
  line-height: 1.4em;
}

.error-message__emoji {
  font-size: 36px;
}

.error-message__title {
  font-size: 24px;
  color: #202428;
  font-weight: 400;
}

.error-message__copy {
  font-size: 18px;
  color: #b1b1b1;
  width: 540px;
  margin: 12px auto 12px;
}

.error-message__waiting {
  font-size: 18px;
  font-weight: 400;
  animation: waiting 0.5s linear infinite;
}

@keyframes waiting {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
}

a.error-message__link {
  color: #3498db;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 5px;
  margin-top: 12px;
  display: inline-block;
  border: 1px solid #3498db;
  font-size: 14px;
  transition: background-color .1s, color .1s;
}

a.error-message__link:hover {
  background-color: #3498db;
  color: white;
}

@keyframes willkommen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.result {
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
	padding: 0 100px;
}

.value {
  font-size: 60px;
  font-weight: 400;
	margin: 12px 0;
	color: #202428;
}

.label,
.goal {
  font-weight: 400;
  letter-spacing: 1px;
	color: #B0B6BB;
}

.unit {
  font-size: 48px;
  font-weight: 400;
}

.progress-meter {
  position: absolute;
  width: 0%;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #FFD32C;
  transition: width 800ms cubic-bezier(0.55, 0, 0.1, 1);
}

.progress-percent {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 15px 15px 0;
  font-size: 24px;
  color: #202428;
  font-weight: 400;
}

.timestamp {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: 400;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  padding: 24px;
  z-index: 1;
  color: #B0B6BB;
}

.loader,
.loader:before,
.loader:after {
  background: #F0F0F1;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 0.8s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

.loader {
  color: #F0F0F1;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 6px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:after {
  left: 2em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media (max-width: 1023px) {
    .page {
      flex-direction: column;
    }

		.timestamp {
			display: none;
		}

		.result {
			padding: 0 48px;
		}
}
